<div class="links scroll">
        <a href="{{site.baseurl}}/research_pillars/"><i class="fa-solid fa-microscope"></i> Research Projects</a>
        <a href="{{site.baseurl}}/other_projects/"><i class="fa-solid fa-fire"></i></i> Other Projects</a>
        <a href="https://www.paperstars.org/" target="_blank"><i class="fa-solid fa-star"></i> Paperstars</a>
        <a href="{{site.baseurl}}/principles/"> <i class="fa-solid fa-shield-halved"></i> Principles</a>
        <a href="{{site.baseurl}}/reading_blog/"><i class="fa-solid fa-book"></i> Bookshelf</a> 
</div> 