<div class="footer-links">

    {%- if site.email -%}
    <a href="mailto:{{ site.email | encode_email }}" itemprop="email" target="_blank">Email</a>
    {%- endif -%}

    {%- if site.linkedin -%}
    <a href="https://www.linkedin.com/in/{{ site.linkedin }}" itemprop="sameAs" target="_blank">LinkedIn</a>
    {%- endif -%}

    {%- if site.github -%}
    <a href="https://www.github.com/{{ site.github }}" itemprop="sameAs" target="_blank">GitHub</a>
    {%- endif -%}

    {%- if site.researchgate -%}
    <a href="https://www.researchgate.net/profile/{{ site.researchgate }}" itemprop="sameAs"
        target="_blank">ResearchGate</a>
    {%- endif -%}

    {%- if site.orcid -%}
    <a href="https://orcid.org/{{ site.orcid }}" itemprop="sameAs" target="_blank">ORCID</a>
    {%- endif -%}

    {%- if site.twitter -%}
    <a href="https://www.twitter.com/{{ site.twitter }}" itemprop="sameAs" target="_blank">Twitter</a>
    {%- endif -%}

    {%- if site.facebook -%}
    <a href="https://www.facebook.com/{{ site.facebook }}" itemprop="sameAs" target="_blank">Facebook</a>
    {%- endif -%}

    {%- if site.quora -%}
    <a href="https://www.quora.com/profile/{{ site.quora }}" itemprop="sameAs" target="_blank">Quora</a>
    {%- endif -%}

    {%- if site.instagram -%}
    <a href="https://www.instagram.com/{{ site.instagram }}" itemprop="sameAs" target="_blank">Instagram</a>
    {%- endif -%}

    {%- if site.stackoverflow -%}
    <a href="https://stackoverflow.com/users/{{ site.stackoverflow }}" itemprop="sameAs" target="_blank">Stack
        Overflow</a>
    {%- endif -%}

    {%- if site.paperstars -%}
    <a href="{{ site.paperstars }}" itemprop="sameAs" target="_blank">Paperstars</a>
    {%- endif -%}

    <a href="{{ '/assets/pdfs/Danny_CV_2025.pdf' | relative_url }}" class="footer-cv" download>CV ↓</a>

</div>