---
layout: default
---
<hr>
{% assign current_year = "now" | date: "%Y" %}
<div id="year-stats"></div>

<p>Find me on <a href="https://hardcover.app/@dschnitz?referrer_id=18573" target="_blank">Hardcover</a></p>

<!-- Filter Buttons -->
<div id="filters">
  <button class="simplebutton" onclick="filterPosts('2025')">2025</button>
  <button class="simplebutton" onclick="filterPosts('2024')">2024</button>
  <button class="simplebutton" onclick="filterPosts('all')">All</button>
</div>
<br>

<!-- Book List -->
<div class="reading-blog-list">
  {% assign sorted_posts = site.bookshelf | sort: 'date' | reverse %}
  {% for post in sorted_posts %}
  {% assign post_year = post.date | date: "%Y" %}
  <div class="post" data-year="{{ post_year }}">
    <h3 style="margin-bottom: 5px;">
      {{ post.date | date: '%B, %Y' }}:
      <a href="{{ post.book_link }}">{{ post.book_title }}</a>
      by {{ post.book_author }} | {{ post.status }}
      {% if post.status == "📚" and post.rating %}
      {{ post.rating }}
      {% endif %}
    </h3>
    <p style="margin-top: 0;"><small>{{ post.tags | join: ", " }}</small></p>
  </div>
  {% endfor %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    filterPosts('{{ current_year }}');
  });

  function filterPosts(year) {
    var posts = document.querySelectorAll('.post');
    var yearStats = document.getElementById('year-stats');
    var booksCount = 0;

    posts.forEach(function (post) {
      var postYear = post.getAttribute('data-year');
      if (year === 'all' || postYear === year) {
        post.style.display = 'block';
        if (postYear === year) booksCount++;
      } else {
        post.style.display = 'none';
      }
    });

    if (year === 'all') {
      yearStats.innerHTML = '';
    } else {
      yearStats.innerHTML = `<p>In ${year}, I have read ${booksCount} books.</p>`;
    }
  }
</script>

<!-- Pagination (if needed) -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
  <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
  {% if page == paginator.page %}
  <span>{{ page }}</span>
  {% elsif page == 1 %}
  <a href="{{site.baseurl}}/reading_blog">{{ page }}</a>
  {% else %}
  <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
  {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
  <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}