---
layout: default
---

{% include breadcrumbs.html %}

<h1 class="post-headline">{{page.title}}</h1>
<p class="meta"><small>{{page.date | date: '%B %d %Y'}}</small></p>

<div class="project-links">
    {% if page.github_link %}
    <a href="{{ page.github_link | relative_url }}" target="_blank" rel="noopener">GitHub</a>
    {% endif %}
    {% if page.link2_url %}
    <a href="{{ page.link2_url | relative_url }}" {% if page.link2_external %}target="_blank" rel="noopener" {% endif
        %}>{{ page.link2_label }}</a>
    {% endif %}
    {% if page.link3_url %}
    <a href="{{ page.link3_url | relative_url }}" {% if page.link3_external %}target="_blank" rel="noopener" {% endif
        %}>{{ page.link3_label }}</a>
    {% endif %}
    {% if page.link4_url %}
    <a href="{{ page.link4_url | relative_url }}" {% if page.link4_external %}target="_blank" rel="noopener" {% endif
        %}>{{ page.link4_label }}</a>
    {% endif %}
</div>

{{content}}

{% if page.path contains '_posts' %}
{% if site.disqus-shortname %}
{% include disqus.html %}
{% endif %}
{% endif %}