---
layout: default
---

{% include breadcrumbs.html %}

<h1 class="post-headline">{{ page.title }}</h1>
<p>{{ page.description }}</p>

<div class="ProjectContainer">
    <div class="gallery">

        {% assign current_tag = page.tag | downcase %}

        {% for project in site.research_projects %}
        {% if project.tag %}
        {% assign project_tag = project.tag | downcase %}
        {% if project_tag == current_tag %}
        <div class="projectTile">
            <a href="{{ project.url | relative_url }}">
                <span>
                    <h2>{{ project.title }}</h2>
                    <br />
                    <p>{{ project.description }}</p>
                    <br />
                    <p>{{ project.status }}</p>
                </span>
            </a>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}

    </div>
</div>